/*
  Author: Francesco Montorsi
  Creation date: 30/6/2005
  RCS-ID: $Id: wxcode-contentscroll.css,v 1.19 2006/05/14 12:42:27 frm Exp $
  Notes: this is Sinorca webtheme (see http://www.oswd.org) CSS
         modified for frame-like navigation.
*/


/* ################################ Common Styles ################################ */

body {
  color: black;

  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 90%;  /* Enables font size scaling in MSIE */
  margin: 0;
  padding: 0;

}

html > body {
  font-size: 10pt;
}

acronym, .titleTip {
  border-bottom: 1px dotted rgb(153,153,153);
  cursor: help;
  margin: 0;
  padding: 0 0 0.4px 0;
}

.doNotDisplay {
  display: none;
}

.smallCaps {
  font-size: 110%;
  font-variant: small-caps;
}

.searchTextCtrl {
  margin-top: 0.5ex;
  width: 20%;
  text-align: center;
  font-size: 80%;
  vertical-align: middle;
}

.searchBtn {
  width: auto;
  font-size: 90%;
  vertical-align: middle;
  margin-top: 0.5ex;
}

.img {
  border: 0;
}

.submitFormTable {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(240,240,240);
}

.submitFormTable input {
  width: 100%;
}

.submitFormTable td {
  font-weight: bold;
  vertical-align: middle;
}

.submitFormTableWithCheckboxes {		/* like .submitFormTable just without width=100% for checkboxes (that broke the rendering) */
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(240,240,240);
}

.submitFormTableWithCheckboxes td {
  font-weight: bold;
  vertical-align: middle;
}

.news {
  text-align: center;
}

.error {
  font-weight: bold;
  color: red;
}



/* ############################## BEAUTIFIER  ############################## */

span.linecomment {
  color: green;
}

span.blockcomment {
  color: green;
}

span.select {
  color: white;
}

span.quote {
  color: red;
}

span.category_1 {
  color: blue;
}

span.category_2 {
  color: blue;
}

span.category_3 {
  color: yellow;
}

pre.sourcecode {
  background-color: rgb(240,240,240);
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}



/* ############################## COMPLIST PAGE ############################## */

.complisttable {
  background-color: rgb(240,240,240);
  width: 98%;
  text-align: left;
  vertical-align: top;
  line-height: 1.5em;
  margin: 0 0 0 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border: 0;
}

.complistsingletable {

  background-color: rgb(240,240,240);
  width: 98%;
  line-height: 1.5em;
  margin: 0 0 0 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.complistsingletable td {
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.complistsingletable_header {
  background-color: rgb(100,135,220);
  color: white;
  font-weight: bold;
}

.complistsingletable_row1 {
  background-color: rgb(240,240,240);
}

.complistsingletable_row2 {
  background-color: rgb(220,220,220);
}

.complisttable img {
  border: 0;
  margin-left: auto;
  margin-right: auto;
}

.complistheader {
  border: 0;
  color: blue;
  font-size: 150%;
  font-style: italic;
  text-align: left;
  margin: 0 0 0.5em 0;
}

.separator {
  border: 0;
  height: 10px;
  background-color: white;
}

.fieldValue {
  font-weight: normal;
  color: green;
}

.compcol {
  font-weight: bold;
  color: black;
}

.complink {
  text-align: center;
  display: block;
  margin: 0.2em 0.2em 0.2em 0.2em;
}

.complink a:hover {
  background-color: rgb(100,135,220);
  text-decoration: none;
  padding: 0.2em 0.2em 0.2em 0.2em;
  margin: 0 0 0 0;
  color: white;
}

.pagelink {
  text-align: center;
  font-weight: bold;
}


/* ################################ HEADER ################################ */

.topframe {
  position:fixed;
  overflow: hidden;

  /* the header will always take the space declared here... */
  width: 100%;
  height: 20%;
}

.superHeader {
  color: white;
  background-color: rgb(100,135,220);
  height: 1.8em;
}

.superHeader a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 91%;
  margin: 0;
  padding: 0 0.5ex 0 0.25ex;
}

.superHeader a:hover {
  text-decoration: underline;
}

.superHeader .left {
  position: absolute;
  left: 1.5mm;
  top: 0.75ex;
}

.superHeader .right {
  position: absolute;
  right: 1.5mm;
  top: 0.75ex;
}

.midHeader {
  color: rgb(39,78,144);
  background-color: rgb(140,170,230);
  height: 5.1em;            /* if set to a higher value, the top floating block will need to be scrolled ! */
}

.midHeader .right {
  position: absolute;
  right: 1.5mm;
  top: 0.75ex;
}

.midHeader headerLinks {
  text-align: right;
  font-size: 95%;
}

.midHeader img {
  border: 0;
  position: fixed ;   /* donotchange - see updatecss.sh ! */
  top: 1.8em;      /* this must be the same height of .superHeader */
  left: 0.5em;
}

.headerTitle {
  font-size: 350%;
  font-weight: normal;
  font-style: italic;
  margin: 0 0 0 4mm;
  padding: 0.25ex 0;
}

.headerTitle p {
  position: fixed ;   /* donotchange - see updatecss.sh ! */
  left: 2em;
  top: -0.2em;
}

.headerSubtitle {
  font-size: 1.5em;
  font-weight: bold;
  position: fixed ;   /* donotchange - see updatecss.sh ! */
  right: 2em;
}

.subHeader {
  color: white;
  background-color: rgb(0,51,153);
  margin: 0 0 0 0;
  padding: 0 1ex 1ex 1ex;
  vertical-align: bottom;
}

.subHeader a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0 0.75ex 0 0.5ex;
}

.subHeader form {
  margin: 0 0 0 0;
}

.subHeader table {
  width:100%;
  margin: 0 0 0 0;
  border: 0;
  vertical-align: middle;
}

.subHeader a:hover {
  text-decoration: underline;
}

.superHeader .highlight, .subHeader .highlight {
  color: rgb(253,160,91);
  background-color: transparent;
}




/* ################################ SIDEBAR ################################ */

.side-bar {
  position:fixed;
  overflow: hidden;
  background-color: rgb(240,240,240);

  /* since our header always takes X % we need to use
     the remaining portion... */
  top: 20%;     /* do not change! see updatecss.sh ! */
  height: 80%;
  left: 0em;
  width: 16%;
  float: left;
}

.side-bar div {
  /*border-bottom: 1px solid rgb(153,153,153);*/
}

.sideBarTitle {
  font-weight: bold;
  margin: 0 0 1em 2.5mm;
  padding: 1em 0 0 0;
}

.side-bar ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0 0 1.1em 0;
}

.side-bar li {
  margin: 0;
  padding: 0.1ex 0;  /* Circumvents a rendering bug (?) in MSIE 6.0 */
  /*text-align: right; */
}

.side-bar a, .thisPage {
  color: rgb(0,102,204);
  background-color: transparent;
  text-decoration: none;
  margin: 0;
  padding: 0.75em 1ex 0.75em 5mm;
  display: block;
}

.thisPage {
  color: black;
  background-color: white;
  padding-left: 4mm;
  /*border-top: 1px solid rgb(153,153,153);
  border-bottom: 1px solid rgb(153,153,153);*/
}

.side-bar a:hover {
  color: white;
  background-color: rgb(100,135,220);
  text-decoration: none;
}

.sideBarText {
  line-height: 1.5em;
  margin: 0 0 1em 0;
  padding: 0 1.5ex 0 2.5mm;
  display: block;
}

.side-bar .sideBarText a {
  text-decoration: underline;
  margin: 0;
  padding: 0;
  display: inline;
}

.side-bar .sideBarText a:hover {
  color: rgb(0,102,204);
  background-color: transparent;
  text-decoration: none;
}

.lighterBackground {
  color: inherit;
  background-color: white;
}




/* ################################ CONTENT ################################ */

.main-content {
  background-color: white;
  text-align: justify;
  line-height: 1.5em;
  margin: 0 1em 0 0;
  /*border: 1px solid rgb(153,153,153);*/

  /* we need to use the space left by HEADER & SIDEBAR boxes... */
  position: fixed;
  width: 80%;
  height: 78%;
  left: 18%;
  top: 20%;     /* do not change! see updatecss.sh ! */
  overflow: auto;
  float: right;
}

.main-content p {
  margin: 1em 2em 1em 1ex;
  padding: 0;
}

.main-content p.question {      /* for the FAQ page */
  font-weight: bold;
  margin: 1em 2em 0em 1ex;
  padding: 0;
}

.main-content p.answer {
  margin: 0em 2em 1em 1em;
  padding: 0;
}

.main-content p.code {
  font-family: monospace;
  text-align: left;
  background-color: rgb(240,240,240);
}

.main-content li {
  margin: 1em 2em 0em 1em;
}

/* DO NOT USE TT, CODE or SAMP tags !
   Use <p class="code"> or <pre class="sourcecode"> instead ! */
.main-content tt {
  margin-left: auto;
  margin-right: auto;
  color: #333333;
}

.topOfPage {
  color: white;
  background-color: transparent;
  font-size: 91%;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
  float: right;
  margin: 0em 2em 0 0;
  padding: 0.5ex 0 0 0;
}

.main-content h1 {
  color: white;
  background-color: rgb(100,135,220);
  font-size: 100%;
  font-weight: bold;
  margin: 0 1em 0 0;
  padding: 0.5ex 0 0.5ex 1ex;
}

.main-content h1.firstofthepage {
  margin: 2ex 1em 0 0;
}

.main-content table.h1like {
  color: white;
  background-color: rgb(100,135,220);
  width: 98%;
  line-height: 1.5em;
  height: 1.5em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 0;
}

.main-content h2 {
  color: blue;
  background-color: rgb(150,185,250);
  font-size: 80%;
  font-weight: bold;
  margin: 1em 1em 0 1em;
}

.main-content div.center {
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

dl {
  margin: 1em 1ex 2em 1ex;
  padding: 0;
}

dt {
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0;
}

dd {
  margin: 0 0 2em 2em;
  padding: 0;
}




/* ################################ FOOTER ################################ */

.footer {
  color: white;
  background-color: rgb(100,135,220);
  font-size: 90%;
  line-height: 1em;
  margin: 0 1em 0 0;
  padding: 0.5em 0.5em 1em 0.5em;
  height: 3em;
}

.footer img {
  border: 0;
}

.footerLeft {
  text-align: left;
  vertical-align: middle;
  float: left;
}

.footerRight {
  text-align: right;
  float: right;
}

.footer a {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: none;
}





